@model TravelTripProje.Models.Siniflar.BlogYorum
@{
    ViewBag.Title = "BlogDetays";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="single">
    <div class="container">
        <div class="col-md-12 single-main">
            <div class="single-grid">
                @foreach (var x in Model.Deger1)
                {
                    <img src="@x.BlogImage" alt="" style="margin-bottom:20px; width:100%; height: 600px" />
                    <h2>@x.Baslik</h2>
                    <p>@x.Aciklama</p>
                }
            </div>
            <br /><br /><br />
            <h4>Yorumlar</h4>
            @*  ilk yorum satırı kutucuğu *@
            @foreach (var y in Model.Deger2)
            {
                <ul class="comment-list">
                    <li>
                        <img src="~/web2/images/avatar.png" class="img-responsive" alt="">
                        <div class="desc">
                            <p>@y.KullaniciAdi: @y.Yorum </p>  @*İki farklı tablodan bir view'a (sayfaya) veri çektik *@
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>