@model TravelTripProje.Models.Siniflar.Blog

@{
    ViewBag.Title = "BlogGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("BlogGuncelle", "Admin", FormMethod.Post)) // BlogGuncelle actionresult devreye girdiğinde çalışacak, BlogGüncelle nerede? (AdminController içinde), ne zaman çalışacak? (sayfada bir butona tıkladığında)
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" }) //readonly sadece okunabilir dışarıdan müdahale edilemez.
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Blog Güncelle</button>
}
